{% extends 'TeacherAdmin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters_teacherAdmin %}
{% block title %}Admin Dashboard{% endblock %}
{% block css %}

<style>
    .main{
        margin: 20px auto 0px auto;
    }
    .main>h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }
    .main > h1 > .span{
        background-color: var(--yellow);
        color: black;
        border-radius: 3px;
        box-shadow: 0px 0px 20px rgb(255, 157, 0);
        padding: 0px 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="main">
    <h1>Welcome <span class="span">@{{user.username}}</span> .</h1>    
    <table class="table table-dark">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Class</th>
            <th>File Deployed</th>
            <th>Portal Start</th>
            <th>Portal End</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
    {% for object in AdminInfo_objects reversed%}
            <tr class="table-dark row{{object.id}}">
                <td>{{forloop.counter}}</td>
                <td>Grade {{ object.FOR_CLASS }}</td>
                <td>{{ object.FILENAME|split:"/" }}</td>
                <td>{{ object.Start_time}}</td>
                <td>{{ object.End_time}}</td>
                <td>
                    <button type="button" class="btn btn-primary" 
                    onclick="window.location.href = 'edit/{{object.id}}'"  >EDIT</button> &nbsp
                    <button type="button" class="btn btn-danger delete-btn" data-row_btn_id={{object.id}}>Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script> 

    function delete_row(row_id){
        fetch(`delete-row/${row_id}`,{
            method:"DELETE",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        }).then(resp=>resp.json())
        .then(data=>{
            if (data.msg==true){
                document.querySelector(`.row${row_id}`).remove()
                console.log("Deleeted")
            }
        })
    }

    document.querySelectorAll(".delete-btn").forEach(btn=>{
        btn.addEventListener("click",()=>{
            const rowId = btn.dataset.row_btn_id
            delete_row(rowId)
        })
    })
</script>
{% endblock %}