{% extends 'TeacherAdmin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters_teacherAdmin %}
{% block title %}Admin Dashboard{% endblock %}
{% block css %}

<style>
    body{
        overflow: hidden;
    }
    .main {
        max-height: 100vh;
        overflow-y: scroll;
    }

    .main {
        margin: 20px auto 0px auto;
    }

    .main>h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
    }

    .main>h1>.span {
        background-color: var(--yellow);
        color: black;
        border-radius: 3px;
        box-shadow: 0px 0px 20px rgb(255, 157, 0);
        padding: 0px 10px;
    }

    .table1 {
        background-color: rgba(102, 102, 102, 0.192);
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }
    .table1>h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
    }
    .table2{
        background-color: rgb(48, 47, 47);
        border-radius: 20px;
    }
</style>
{% endblock %}

{% block content %}



<div class="main">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title text-dark">Active Portal Changed</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body text-dark ">
                New Portal has been set. Refrech the page to see the changes.
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick='location.reload()'>Refresh Now</button>
                </div>
            </div>
        </div>
    </div>
    <h1>Welcome <span class="span">@{{user.username}}</span> .</h1>
    <br><br>
    <!-- code for cards -->
    <h1 class="display-5">Statistics</h1>
    <div class="d-flex justify-content-evenly">
        <div class="card text-white bg-primary mb-3 p-2" style="max-width: 20rem; min-width: 400px;">
            <div class="card-body">
                <h1 class="card-title display-5"> <i class="fa-solid fa-users"></i> &nbsp Total</h1>
                <p class="card-text fs-3"> Total Enrolled : {{Total_student}}</p>
            </div>
        </div>
        <div class="card text-white bg-success mb-3 p-2 " style="max-width: 20rem; min-width: 400px;">
            <div class="card-body">
                <h1 class="card-title display-5"><i class="fa-regular fa-thumbs-up"></i> &nbsp Successful</h1>
                <p class="card-text fs-3">Passed Candidates : {{Pass_student}}</p>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3 p-2" style="max-width: 20rem; min-width: 400px;">
            <div class="card-body">
                <h1 class="card-title display-5"> <i class="fa-solid fa-file-excel fa-beat"></i> &nbsp Unsuccessful</h1>
                <p class="card-text fs-3">Not passed Candidates : {{ Total_student|subtract:Pass_student }}</p>
            </div>
        </div>
    </div>
    <br>
    <!-- ends  -->
    <div class="table1">
        <table class="table table-dark table-striped table-hover p-3">
            <h1 class="display-2">Admin Content</h1> <hr> <br>
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Class</th>
                    <th>File Deployed</th>
                    <th>Portal Start</th>
                    <th>Portal End</th>
                    <th>Status</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for object in AdminInfo_objects reversed%}
                <tr class="table-dark row{{object.id}}">
                    <td>{{forloop.counter}}</td>
                    <td  id="class_{{object.id}}">Grade {{ object.FOR_CLASS }}</td>
                    <td>{{ object.FILENAME|split:"/" }}</td>
                    <td>{{ object.Start_time}}</td>
                    <td>{{ object.End_time }}</td>
                    {% if current_time >= object.Start_time|date:"Y-m-d H:i" and current_time <= object.End_time|date:"Y-m-d H:i" %} <td> <span class="badge bg-success">Open</span> </td>
                        {% else %}
                        <td><span class="badge bg-danger">Closed</span></td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-primary"
                                onclick="window.location.href = 'edit/{{object.id}}'">EDIT</button> &nbsp
                            <button type="button" class="btn btn-danger delete-btn"
                                data-row_btn_id={{object.id}}>Delete</button> &nbsp
                            <button type="button" class="btn btn-info select-btn"
                                data-row_btn_id={{object.id}} data-toggle="modal" data-target="#myModal" >Select</button>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table2 mt-4" style="margin: 10px; padding: 20px;margin-bottom: 100px;" >
        <h2 class="display-4 text-center" >Currently Active Portals</h2>    
        <hr>    
            {% for key , object in active_list.items reversed%}
                <br>
                <h1 class="display-5 text-center">{{key}}</h1>
                    <table class="table table-dark table-striped table-hover p-3">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>File Deployed</th>
                                <th>Portal Start</th>
                                <th>Portal End</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-dark row{{object.id}}">
                                <td>{{forloop.counter}}</td>
                                <td>{{ object.FILENAME|split:"/" }}</td>
                                <td>{{ object.Start_time}}</td>
                                <td>{{ object.End_time }}</td>
                                {% if current_time >= object.Start_time|date:"Y-m-d H:i" and current_time <= object.End_time|date:"Y-m-d H:i" %} <td> <span class="badge bg-success">Open</span> </td>
                                {% else %}
                                <td><span class="badge bg-danger text-center">Closed</span></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
            {% endfor %}

    </div>
</div>

<script>

    function change_active_portals(row_id,class_of_id){
        fetch(`change_portal/${row_id}/${class_of_id}/`,{
            method:"POST",
            headers :{
                'X-CSRFTOKEN':'{{ csrf_token }}',
            },
            // body: '=' + encodeURIComponent(row_id)
        }).then(resp=>resp.json()).then(data=>{
            console.log("Portal Changed")
        })
    }

    function delete_row(row_id) {
        fetch(`delete-row/${row_id}`, {
            method: "DELETE",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        }).then(resp => resp.json())
            .then(data => {
                if (data.msg == true) {
                    document.querySelector(`.row${row_id}`).remove()
                }
                else {
                    window.alert("File Doesn't exists. File not Deleted.")
                }
            })
    }

    document.querySelectorAll(".delete-btn").forEach(btn => {
        btn.addEventListener("click", () => {
            const rowId = btn.dataset.row_btn_id
            delete_row(rowId)
        })
    })

    document.querySelectorAll(".select-btn").forEach(selBtn=>{
        selBtn.addEventListener("click",()=>{
            // row id represents id of object in db
            const rowId = selBtn.dataset.row_btn_id
            // row_class represnts class of that object whoes id is rowId
            row_class = document.getElementById("class_"+rowId)
            garde_string = row_class.innerText.split(" ")
            change_active_portals(parseInt(rowId),parseInt(garde_string[1]))
        })
    })
</script>
{% endblock %}