<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <!--Dynamic Content -->
    <h1>Little Flower School</h1> 
    <div class="content-form">
        <h2>Candidates are required to answer all the question.</h2>
        <div class="form">
            
        </div>

    </div>
</body>
</html>